main{
  width: 600px;
  margin: 0 auto;
}

img{
  width: 200px;
}

input{
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  font-size: 22px;
  margin: 10px;
}

.album{
  padding: 5px;
}

#next, li {
  padding: 5px;
  margin: 10px;
}

* {
  font-family: system, -apple-system, BlinkMacSystemFont,
        "Helvetica Neue", "Lucida Grande";

}
