main{
  width: 400px;
  margin: 0 auto;
}

input{
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  font-size: 22px;
  margin: 10px;
}

.album{
  padding: 5px;
}

#next {
  padding: 5px;
  margin: 10px;
}
